{% extends 'base.html' %} {% block content %}
<p>
  Kono {{ my_text}}, niwa yume ga aru, you can find me at @{{ my_telegram}} and that what I like to eat:
</p>

<ul>

  {% for dish in my_favorite_food %} 
    {% if dish == 'pasta' or dish == 'pizza' %}
    <li>{{ forloop.counter }}  - {{ dish|add:" (italian)" }}</li>
    {% elif dish == 'ramen' %}
    <li>{{ forloop.counter }}  - {{ dish|add:" (japanese)" }}</li>
    {% else %}
    <li>{{ forloop.counter }}  - {{ dish }} </li>
    {% endif %}
  {% endfor %}
  
</ul>

{% endblock %} {% block footer %}
  <h1>It's over Anakin I have a low-ground</h1>
  {% endblock %}
</ul>
