<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Its friday, my dudes</title>
    <style type="text/css">
      h1 {
        font-size: 120%;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #333366;
      }
      footer {
        position: absolute;
        bottom: 0;
        background: #f0f0f0; /* Цвет фона */
        padding: 7px; /* Поля вокруг текста */
        border: solid 1px black; /* Параметры рамки */
      }
    </style>
  </head>
  <body>
    {% block content %} replace me {% endblock %}
    <footer>{% block footer %} replace me {% endblock %}</footer>
  </body>
</html>
